html, body {
  height: 100%;
  margin: 0;
}

#maps {
  display: flex;
  height: calc(100% - 40px);
}

.map {
  flex: 1;
}



#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: #333;
  color: #fff;
  height: 40px;
}

#header-left > *,
#header-right > * {
  margin-right: 5px;
}

#header-center {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

#header-right {
  white-space: nowrap;
}

#header a {
  color: #fff;
}